$offWhite: #EEEEEE;
$deepBlue: #3C339A;
$blue: #5A79C8;
$lightBlue: #5FB7CF;
$VTBlack: hsla(0, 0%, 0%, 0.8);
$STBlack: hsla(0, 0%, 0%, 0.6);
$MTBlack: hsla(0, 0%, 0%, 0.7);
$p-font: 12px;
$p2: 10px;
$h2: 16px;
$h1: 20px;

//paddings
$pad1 : 2.1em;
$padSec: 1em 1.5em;

//shadows
$shadow1: 0px 0px 2px 1px purple;
$shadow2: 1px 1px 2px 1px purple;
$shadow3: -.2em 0px .5em 0px purple;


@media screen and (min-width: 780px){
  $p-font: 31px;
  $p2: 20px;
  $h2: 30px;
  // $h1: 70px;
}