*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $offWhite;
  transition: ease-in-out 300ms;
}

img{
  display: block;
}
h1, h2, h3, h4, h5, p{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
}
a{
  text-decoration: none;

  // &:hover{
  //   transform: translate(2px, -2px);
  // }
}
li{
  list-style: none;
}


button{
  padding: 0.6em 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // box-shadow: 0px 4px 4px linear-gradient(35deg, #FE0707, #06A5FE, #54FE04, #FF00A8, #FFE502);
  box-shadow: 0px 2px 5px 0px purple;
  border-radius: 5px;
  border: 1px #fe0707 solid;
  display: inline-flex;
  font-weight: 700;
  font-size: $p-font;

  &:hover, &:focus{
    background: transparent;
    color: white;
    border: 1px $deepBlue solid;
    box-shadow: 0px 1px 3px 0px #FE0707;
  }
}
.alpha{
  background: $deepBlue;
  color: $offWhite;

}
.beta{
  background-color: $offWhite;
  color: $deepBlue;
  // margin-left: 23px;
}

.skill{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  padding: 1em .9em 1em 1em;
  // word-break: break-all;
  border: 1px solid rebeccapurple;
  // border: 2px solid $deepBlue;
  background: $VTBlack;
  box-shadow: $shadow2;
  border-radius: 0.6em;

  img{
    width: 20%;
  }

  p{
    font-size: $p-font;

    display: flex;
    flex-direction: column;
    gap: 6px;
    // width: 100%;
  }
  span{
    font-size: 10px;
  }
  
  &:hover{
    transform: scale(1.01);
    animation: shadow 3s infinite ease;
  }
}

.tool{
  display: flex;
  align-items: center;
  gap: 6px;
  width: auto;
  width: 45%;

  p{
    font-size: 10px;
  }

  img{
    width: 14%;
  }
}

.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;

  outline: 1px solid rebeccapurple;
  border-radius: 8px;
  box-shadow: $shadow1;

  .front{
    display: flex;

    img{
      width: 100%;
      border-radius: 8px;
    }
  }

  .hide{
    display: none;
  }

  &:hover{
    transform: scale(1.01);
    animation: shadow 3s infinite ease;
  }
}




.hide{
  display: none;
}

.show{
  display: block;
}


@keyframes animateBG{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

@keyframes shadow {
  0%{box-shadow: 0px 0px 5px 1px #FE0707;}
  20%{box-shadow: 0px 0px 5px 1px #07fe59;}
  50%{box-shadow: 0px 0px 5px 1px #9f07fe;}
  80%{box-shadow: 0px 0px 5px 1px #07fe59;}
  100%{box-shadow: 0px 0px 5px 1px #fe0707;}
}
@keyframes text {
  0%{color:#fe07d1;}
  20%{color:#07fe59;}
  50%{color:#9f07fe;}
  80%{color:#07fe59;}
  // 100%{color: yellow;}
  100%{color:#fe07d1;}
}

@media screen and (min-width: 780px) {
  .skill{
    // padding: 1em .9em 1em 1em;
    padding: 1em;
    gap: 1.5em;

    img{
      width: 15%;
      margin: .5em;
    }
    p{
      font-size: 1em;

      span{
        font-size: .7em;
      }
    }
  }
  .tool{
    display: flex;
    gap: .6em;
    p{
      font-size: .9em;
    }
  }
}