#root {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

.App{
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 410px;
  background: $MTBlack url("../src/assets/images/bgBlend.webp") no-repeat;
  background-blend-mode: soft-light;
  background-size: cover;
  transition: ease-in 2s;

  .head{
    background: url("../src/assets/images/heroBg.webp");
    background-repeat: no-repeat;
    border-radius: 0 0 20px 20px;
    padding: $pad1;

    .navigation{
      display: flex;
      margin-bottom: 25px;

      .logo{
        color: rgba(255, 255, 255, 0.116);
        font-size: $h1;
        font-family: 'Inter';
        font-weight: 700;
        word-wrap: break-word;
        background: url(../src/assets/images/bg.webp);
        animation: animateBG 9s infinite ease;
        -webkit-background-clip: text;
        background-clip: text;
      }

      .menu{
        margin-left: auto;
      }

      .navMobile{
        // outline: 1px solid red;
        position: fixed;
        width: 45%;
        min-height: 100vh;
        background: hsla(0, 0%, 0%, 0.9);
        box-shadow: $shadow3;
        padding-top: .6em;
        top: 0;
        right: 0;
        z-index: 1;
        transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 700ms;

        li{
          display: flex;
          justify-content: left;
          align-items: left;
          margin: 3em 1.5em;
          font-size: $p-font;

          .menuClose{
            align-items: right;
            margin-left: auto;
            padding-right: 1.25em;
            margin-top: -.5em;
          }

          button{
            align-self: left;
            font-size: 10px;
          }
        }
      }

      .hideNav{
        right: -50%;
      }
    }

    .hero{
      // padding: $padSec;
      color: $offWhite;
      text-align: left;

      .sec1{
        .heading{
          font-size: $h1;
          font-weight: 700;
          margin-bottom: 10px;
          color: $blue;
        }

        .desc{
          font-size: $p-font;
        }

        .cta{
          display: flex;
          gap: 25px;
          margin: 16px auto 25px;
        }
      }

      .sec2{
        display: flex;
        place-content: center;
        margin: 16px auto;

        .heroImg{
          width: 100%;
          height: 100%;
          margin-top: 40px;
          // box-shadow: 0px 10px 5px #3C339A;
        }
      }
    }
  }

  .main{
    padding: $pad1;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .about{
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 25px;
      position: relative;
      padding: $pad1 0;

      .sec1{
        background: $MTBlack;
        border-radius: 10px;
        padding: $padSec;
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        border: 1px solid $deepBlue;
        box-shadow: $shadow1;

        h2{
          font-size: $h2;
          font-weight: 500;
          color: $lightBlue;
          margin-bottom: 10px;
        }
        .socials{
          position: relative;
          display: flex;
          gap: 7px;
          flex-wrap: wrap;

          .social{
            display: flex;
            align-items: center;
            gap: 5px;
            width: 80px;

            img{
              max-width: 25%;
            }

            p{
              font-size: $p2;
            }
          }
        }

      }
      .sec2{
        background: $MTBlack;
        border-radius: 10px;
        padding: $padSec;
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        border: 1px solid $deepBlue;
        box-shadow: $shadow1;

        h2{
          font-size: $h2;
          font-weight: 500;
          color: $lightBlue;
        }

        .tools{
          display: flex;
          flex-wrap: wrap;
          gap: 17px;
          justify-content: space-between;
        }
      }
    }

    .projects{
      background: $MTBlack;
      border-radius: 10px;
      padding: $padSec;
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: relative;
      border: 1px solid $deepBlue;
      box-shadow: $shadow1;

      .projectsTiles{
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }

  .footer{
    border-radius: 0 0 20px 20px;
    padding: $pad1;
    background: hsla(0, 0%, 0%, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    h2{
      color: $blue;
      font-size: $h2;
      font-weight: 500;
    }

    button{
      transform: scale(.8);
    }
  }
}


.hide{
  display: none;
}