@import './sass/config';
@import './sass/utils';

#root{
  display: flex;
  place-content: center;
  place-items: center;
  // background: $STBlack url("./assets/images/bgBlend.png") center fixed;
  // width: 375px;
  // max-width: 419px;
  max-width: 1440px;
}

body{
  // background: url("./assets/images/body-bg.jpg") center fixed;
  background: url("./assets/images/heroBg2.jpg") center fixed;
  animation: animateBG 20s infinite linear;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  place-content: center;
  place-items: center;
  animation-fill-mode: both
}
@import './sass/mobile';


@keyframes animateBG{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
